html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.wrapper {
    margin-right: auto; 
    margin-left:  auto; 
    max-width: 960px;
    padding-right: 10px; 
    padding-left:  10px; 
    border: 1px solid white;
}


html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html,input, body {
    background-color: #121212;
    color: white;
}

label {
    color: black;
}

input {
    background-color: #3f3f3f3f;
    border: none;
    border-radius: 8px;
    padding: 7px;
    margin: 5px 0;
}
select {
    background-color: #3f3f3f3f;
    border: none;
    border-radius: 8px;
    padding: 7px;
    margin: 5px 0;
    color: white;
}
option {
    color: white !important;
    background-color: #3f3f3f3f !important;
    border: none !important;
}

button.btn.btn-primary {
    width: 130px;
    background-color: #a688fa;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
    padding: 7px;
    font-weight: bold;
    border: none;
    color: black;
}
button.btn.btn-primary:hover {
    color: white;
}


* {
    box-sizing: border-box;
}

button {
    margin-top: 20px;
}

.msg {
    color: #a688fa;
    font-weight: bold;
    text-align: center;
}

.err-msg {
    color: #cc0000;
}

.modal-title {
    color: black;
}

.btn-container {
    border: 1px solid pink;
}


/* nav */

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
ul.nav > li {
    float: left;
}

ul.nav > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav > li a:hover {
    background-color: #333;
}
